/* Global Styles */
body {
    background-color: blueviolet;
    max-height: 100vh;
}

/* Positioning of Globe */
#globey { 
    max-height: 400px;
    max-width: 400px;
    position: absolute;
    top: 40vh;
    left: 10vh;
}

/* Needs Changing */
#speech-bubble{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: auto auto;
}

#speech-bubble-image {
    width: 400px;
    position: absolute;
    left: 28vw;
    top: 10vh;
}

/* Speech Bubble Text */
#sampleSpeechText{
    color: white;
    position: absolute;
    width: 200px;
}

/* Style for Buttons */
#btn-container {
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1pt solid white;
    max-height: 150px;
    position: absolute;
    top: 70vh;
    left: 40vw;
}

.infoBtns{
    margin: 5px;
    border-radius: 15px;
}

/* Style for Flags */

/* Style for Inputs */





